@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<div class="row">
    <div>
        <h1>Home page</h1>
    </div>
</div>
<div>
    <div class="row">
        <h5>Recently posts:</h5>
    </div>
    @await Component.InvokeAsync("PostList", new
    {
        sort = ViewData["sortBy"], 
        isDescending = (bool)ViewData["isDescending"]
    })
</div>