@{
    ViewBag.Title = "Home page";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">

        @(Html.ActionLink("Sign Out", "GoogleSignOut", "Auth"));

    </div>
    <div class="col-md-12">

        @(Html.ActionLink("User profile", "GetUser", "Home"));

    </div>
</div>