@{
    ViewBag.Title = "Home page";
    Layout = "_Layout";
}

<div class="row">
    <div>
        <h1>@ViewBag.Title</h1>

        @(Html.ActionLink("Sign Out", "GoogleSignOut", "Auth", null, new { @class = "btn btn-primary" }))
        @(Html.ActionLink("User profile", "GetUser", "Home", null, new { @class = "btn btn-info" }))
        <hr />
    </div>
</div>
<div>
    @await Component.InvokeAsync("PostList")
</div>
