@model IEnumerable<NewsPortal.Logic.Model.UserComment>

@{
}

<div class="container">
    @foreach (var comment in Model)
    {
        <div class="border">
            <b> @comment.UserName</b>
            <p>@comment.Description</p>
        </div>
        <div>
            @await Component.InvokeAsync("CommentList", new { reply = comment.Reply, commentId = comment.Id })

            @if (!comment.Reply.Any())
            {
                @await Component.InvokeAsync("AddComment", new { commentId = comment.Id, postId = comment.PostId })
            }
        </div>
    }
</div> 